environment:
  matrix:
    - nodejs_version: "0.10"
    - nodejs_version: "0.12"
    - nodejs_version: "1.8"
    - nodejs_version: "2.5"
    - nodejs_version: "3.3"
    - nodejs_version: "4.4"
    - nodejs_version: "5.11"
    - nodejs_version: "6.2"
install:
  - npm install
build: off
test_script:
  - node --version
  - npm --version
  - npm run test:ci
version: "{build}"
